<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Carousel Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
    
    <!-- Ponies -->
    <!--
    <script type="text/javascript" src="http://panzi.github.com/Browser-Ponies/basecfg.js" id="browser-ponies-config"></script><script type="text/javascript" src="http://panzi.github.com/Browser-Ponies/browserponies.js" id="browser-ponies-script"></script><script type="text/javascript">/* <![CDATA[ */ (function (cfg) {BrowserPonies.setBaseUrl(cfg.baseurl);BrowserPonies.loadConfig(BrowserPoniesBaseConfig);BrowserPonies.loadConfig(cfg);})({"baseurl":"http://panzi.github.com/Browser-Ponies/","fadeDuration":500,"volume":1,"fps":25,"speed":3,"audioEnabled":false,"showFps":false,"showLoadProgress":true,"speakProbability":0.1,"spawn":{"applejack":1,"fluttershy":1,"pinkie pie":1,"rainbow dash":1,"rarity":1,"twilight sparkle":1},"autostart":true}); /* ]]> */</script>
    -->

  </head>

  <body>
        
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">GeekRomeo</a>
        <ul class="nav">
           <li><a href="#">Dashboard</a></li>
           <li class="active"><a href="#">My Profile</a></li>
           <li><a href="#">GeekSearch</a></li>
           <li><a href="#">Sexy Time</a></li>
        </ul>
        <form class="navbar-form pull-right">
          <input type="text" class="span2" placeholder="Username">
          <input type="password" class="span2" placeholder="Password">
          <button type="submit" class="btn">Login</button>
        </form>
      </div>
    </div>
    
    <div id="container">
    
    <div class="row">
      <div class="span3">
        <img src="http://stallman.org/Portrait_-_Denmark_DTU_2007-3-31.jpg">
        <!-- <img src="{% get_media_prefix %}{% profile.image %}"> -->
        <h3>HairyFreedomLover42</h2>
        <!-- <p>{% profile.user %}</p> -->
      </div>
      <div class="span9">
        <table class="table">
          <tr><td><b>Bla</b></td><td>Blubb</td></tr>
          <tr><td><b>Bla</b></td><td>Blubb</td></tr>
          <tr><td><b>Bla</b></td><td>Blubb</td></tr>
          <tr><td><b>Bla</b></td><td>Blubb</td></tr>
        </table>
      </div>
    </div>
    
    </div>
  
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>

  </body>

</html>

